<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<!-- Head -->
<head th:replace="fragments :: page_head('Forgot Password', 'none')"></head>
<!-- Head -->

<body>

	<section class="vh-100 d-flex align-items-center"
		style="background-color: #ECDCE6;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-12 col-md-6 col-lg-4">
					<div class="card text-white shadow-lg p-4 rounded-3"
						style="max-width: 350px; margin: auto; background-color: #DF94AA;">
						<div class="card-body text-center">
							<h2 class="fw-bold text-uppercase">Forgot Password</h2>
							<p class="text-white">We will be sending a reset password
								link to your email.</p>

							<form th:action="@{/forgot_password}" method="post">
								<div>
									<input type="hidden" name="${_csrf.parameterName}"
										th:value="${_csrf.token}" />
								</div>
								<div class="mb-3">
									<input type="email" id="typeEmailX" class="form-control"
										placeholder="Email" name="email" autofocus="autofocus" />
								</div>

								<button type="submit" class="btn btn-outline-light w-100">Send</button>
							</form>

							<th:block th:if="fail != null">
								<p class="text-danger mt-3">[[${fail}]]</p>
							</th:block>

							<th:block th:if="success != null">
								<p class="text-success mt-3">[[${success}]]</p>
							</th:block>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>