<!DOCTYPE html>
<!-- khai báo namespace th để có thể sử dụng các thuộc tính của thymeleaf -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head>
<head th:replace="fragments :: page_head(Setting, 'tag')" />
<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
<script th:src="@{/richtext/jquery.richtext.min.js}"></script>

</head>
<!-- Head -->

<body>
	<!-- Header -->
	<header th:replace="fragments :: header"></header>
	<!-- Header -->

	<div class="container">
		<div class="row flex-nowrap">
			<!-- Tabs dọc -->
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
				style="box-shadow: 1px 0px 5px -2px #aaaaaa;">
				<th:block th:replace="settings/setting_fragments :: sidebar"></th:block>
			</div>

			<div class="col mt-4">

				<!-- message dùng cho mailServer và mailTemplate-->
				<div th:if="${message != null}"
					class="toast show position-fixed top-0 end-0 m-3 "
					data-bs-delay="3000" data-bs-autohide="true"
					style="z-index: 1055; min-width: 300px;">
					<div class="toast-header">
						<strong class="me-auto">Message</strong>
						<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
					</div>
					<div class="toast-body text-success">
						<p th:text="${message}"></p>
					</div>
				</div>
				<!-- message -->

				<!-- Nội dung tab -->
				<div class="col-md-9 mx-auto">
					<div class="tab-content">
						<div class="tab-pane fade active show" id="general"
							role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: overview"></th:block>
						</div>

						<div class="tab-pane fade" id="countries" role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: country"></th:block>
						</div>

						<div class="tab-pane fade" id="states" role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: state"></th:block>
						</div>

						<div class="tab-pane fade" id="mailServer" role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: mailServer"></th:block>
						</div>

						<div class="tab-pane fade" id="mailTemplates" role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: mailTemplate"></th:block>
						</div>

						<div class="tab-pane fade" id="payment" role="tabpanel">
							<th:block th:replace="settings/setting_fragments :: payment"></th:block>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div th:replace="modal_fragments :: modal_dialog"></div>
	<!-- Modal -->

	<!-- Footer -->
	<footer th:replace="fragments :: footer"></footer>
	<!-- Footer -->

	<script type="text/javascript">
		// upload image
		let input = "#inputPhotos";
		let inputPreview = "#inputPhotosPreview";

		// csrf
		let csrfHeader = "[[${_csrf.headerName}]]";
		let csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function() {
			// set richtext function
			$("#emailContent").richText();
			$("#emailContent_orderConfirmation").richText();
		});
	</script>

	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/countries_setting.js}"></script>
	<script th:src="@{/js/states_setting.js}"></script>

</body>

</html>