<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>
<body>
	<!-- SideBar -->
	<th:block th:fragment="sidebar">
		<div
			class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
			<ul
				class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-3 w-100"
				id="menu">
				<li class="nav-item mb-3"><span
					class="d-none d-sm-inline fs-5 fw-bold">Menu</span></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100 active	"
					data-bs-toggle="tab" href="#general" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-home"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">General</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#countries" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-globe-americas"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Countries</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#states" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-flag-usa"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">States</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#mailServer" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-mail-bulk"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Mail
							Server</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#mailTemplates" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="far fa-envelope"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Mail
							Templates</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#payment" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-money-check-alt"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Payment</span>
				</a></li>
			</ul>
		</div>
	</th:block>
	<!-- SideBar -->

	<!-- General-->
	<th:block th:fragment="overview">
		<form th:action="@{/settings/save_general}" method="post"
			enctype="multipart/form-data">
			<div class="mt-4 mx-auto col-md-12">
				<h3>General</h3>

				<div class="form-group mb-3 row">
					<label for="inputSiteName" class="col-sm-3 col-form-label">Site
						Name</label>
					<div class="col-sm-9">
						<input type="text" id="inputSiteName" class="form-control"
							placeholder="Enter site name" name="SITE_NAME"
							th:value="${SITE_NAME}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="inputCopyright" class="col-sm-3 col-form-label">Copyright</label>
					<div class="col-sm-9">
						<input type="text" id="inputCopyright" class="form-control"
							placeholder="Enter copyright" name="COPYRIGHT"
							th:value="${COPYRIGHT}" required>
					</div>
				</div>

				<!-- Main Images -->
				<div class="form-group mb-3 row">
					<label for="inputPhotos" class="col-sm-3 col-form-label">Site
						Logo</label>
					<div class="col-sm-9">
						<div>
							<input type="file" class="form-control mb-2" id="inputPhotos"
								accept=".png, .jpg, .jpeg" name="multipartFile">
						</div>
						<div>
							<img th:src="@{${SITE_LOGO}}" width="50%" height="50%"
								class="d-inline-block align-top" alt="Logo"
								id="inputPhotosPreview" style="border-radius: 10px;" name="logo">
						</div>
					</div>
				</div>
				<!-- Main Images -->

				<div class="form-group row">
					<label for="inputCurrencyType" class="col-sm-3 col-form-label">Currency
						Type</label>
					<div class="col-sm-9">
						<select class="form-select" id="inputCurrencyType"
							name="CURRENCY_ID">
							<th:block th:each="currency : ${currencies}">
								<option th:value="${currency.id}"
									th:selected="${currency.id} == ${CURRENCY_ID}">[[${currency.toString}]]</option>
							</th:block>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="inputCurrencySymbolPosition"
						class="col-sm-3 col-form-label">Currency Symbol Position</label>
					<div class="col-sm-9">
						<select class="form-select" id="inputCurrencySymbolPosition"
							name="CURRENCY_SYMBOL_POSITION">
							<option value="Before price"
								th:selected="${CURRENCY_SYMBOL_POSITION} == 'Before price'">Before
								price</option>
							<option value="After price"
								th:selected="${CURRENCY_SYMBOL_POSITION} == 'After price'">After
								price</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="inputDecimalPointType" class="col-sm-3 col-form-label">Decimal
						Point Type</label>
					<div class="col-sm-9">
						<select class="form-select" id="inputDecimalPointType"
							name="DECIMAL_POINT_TYPE">
							<option value="COMMA"
								th:selected="${DECIMAL_POINT_TYPE} == 'COMMA'">Comma -
								(,)</option>
							<option value="POINT"
								th:selected="${DECIMAL_POINT_TYPE} == 'POINT'">Point -
								(.)</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="inputDecimalDigits" class="col-sm-3 col-form-label">Decimal
						Digits</label>
					<div class="col-sm-9">
						<select class="form-select" id="inputDecimalDigits"
							name="DECIMAL_DIGITS">
							<option value="1" th:selected="${DECIMAL_DIGITS} == 1">1</option>
							<option value="2" th:selected="${DECIMAL_DIGITS} == 2">2</option>
							<option value="3" th:selected="${DECIMAL_DIGITS} == 3">3</option>
							<option value="4" th:selected="${DECIMAL_DIGITS} == 4">4</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="inputThousandsPointType"
						class="col-sm-3 col-form-label">Thousands Point Type</label>
					<div class="col-sm-9">
						<select class="form-select" id="inputThousandsPointType"
							name="THOUSANDS_POINT_TYPE">
							<option value="COMMA"
								th:selected="${THOUSANDS_POINT_TYPE} == 'COMMA'">Comma
								- (,)</option>
							<option value="POINT"
								th:selected="${THOUSANDS_POINT_TYPE} == 'POINT'">Point
								- (.)</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="form-group d-flex justify-content-end">
					<a th:href="@{/}" class="btn btn-secondary" style="margin: 0 8px;">Back</a>
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</div>
		</form>
	</th:block>
	<!-- General-->

	<!-- Country-->
	<th:block th:fragment="country">
		<div class="mt-4 mx-auto col-md-12">
			<h3>Countries</h3>

			<p>Use this page to manage countries which will be displayed in
				the customer registration form.</p>

			<div class="row">

				<th:block
					th:replace="settings/setting_fragments :: toastFragment('toastCountry', 'toastCountryMessage')"></th:block>

				<div class="col-lg-8 col-md-7 col-sm-12 mb-3">
					<select class="form-control selectList" id="selectCountryList"
						style="height: 450px;" size=10>
						<option value="">Empty list</option>
					</select>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-12 d-flex flex-column"
					style="height: 450px;">
					<button class="btn btn-primary w-100 mb-3" id="btnLoadCountryList">Refresh
						Country List</button>
					<input type="text" id="inputCountryName"
						class="form-control w-100 mb-2" placeholder="Enter country name"
						name="inputCountryName" required> <input type="text"
						id="inputCode" class="form-control w-100 mb-2"
						placeholder="Enter code" name="inputCode" required>
					<button class="btn btn-outline-success w-100 mb-2"
						id="btnCreateCountry">Create</button>
					<button class="btn btn-outline-warning w-100 mb-2"
						id="btnUpdateCountry" disabled>Update</button>
					<button class="btn btn-outline-danger w-100 mb-2"
						id="btnDeleteCountry" disabled>Delete</button>
					<div class="mt-auto">
						<a th:href="@{/}" class="btn btn-secondary w-100">Back</a>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<!-- Country-->

	<!-- State/Province -->
	<th:block th:fragment="state">
		<div class="mt-4 mx-auto col-md-12">
			<h3>States/Provinces</h3>

			<p>
				Use this page to manage states/provinces which will can be chosen by
				user in the customer registration form.<br>Click <strong>Refresh
					State/Province List</strong> first
			</p>

			<div class="row">

				<th:block
					th:replace="settings/setting_fragments :: toastFragment('toastState', 'toastStateMessage')"></th:block>

				<div class="col-lg-8 col-md-7 col-sm-12 mb-3 d-flex flex-column"
					style="height: 450px;">
					<label for="selectCountryList-tabState"
						class="col-sm-3 col-form-label">Countries</label> <select
						class="form-control mb-3 selectList"
						id="selectCountryListTabState">
						<option value="">Empty list</option>
					</select> <label for="selectStateList" class="col-sm-3 col-form-label">States/Provinces</label>
					<select class="form-control flex-grow-1" size="10"
						id="selectStateList">
					</select>
				</div>

				<div class="col-lg-4 col-md-5 col-sm-12 d-flex flex-column"
					style="height: 450px;">
					<button class="btn btn-primary w-100 mb-3" id="btnLoadStateList">Refresh
						State/Province List</button>
					<input type="text" id="inputStateName"
						class="form-control w-100 mb-2"
						placeholder="Enter state/province name" name="inputCode" required>
					<button class="btn btn-outline-success w-100 mb-2"
						id="btnCreateState">Create</button>
					<button class="btn btn-outline-warning w-100 mb-2"
						id="btnUpdateState" disabled>Update</button>
					<button class="btn btn-outline-danger w-100 mb-2"
						id="btnDeleteState" disabled>Delete</button>
					<div class="mt-auto">
						<a th:href="@{/}" class="btn btn-secondary w-100">Back</a>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<!-- State/Province -->

	<!-- toast -->
	<th:block th:fragment="toastFragment(tabName, toastMessageId)">
		<div class="col-lg-12 col-md-7 col-sm-12 mb-3">
			<div class="toast align-items-center w-100 text-center" role="alert"
				aria-live="assertive" aria-atomic="true" th:id="${tabName}">
				<div class="d-flex justify-content-between w-100">
					<div class="toast-body flex-grow-1">
						<strong><span th:id="${toastMessageId}">Hello,
								world! This is a toast message.</span></strong>
					</div>
					<button type="button" class="btn-close me-2 m-auto"
						data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			</div>
		</div>
	</th:block>
	<!-- toast -->

	<!-- Mail server -->
	<th:block th:fragment="mailServer">
		<form th:action="@{/settings/save_mailServer}" method="post"
			enctype="multipart/form-data">
			<div class="mt-4 mx-auto col-md-12">
				<h3>Mail Server</h3>

				<div class="form-group mb-3 row">
					<label for="smtpServerHost" class="col-sm-3 col-form-label">SMTP
						Server Host Name</label>
					<div class="col-sm-9">
						<input type="text" id="smtpServerHost" class="form-control"
							placeholder="Enter SMTP server host" name="MAIL_HOST"
							th:value="${MAIL_HOST}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="portNumber" class="col-sm-3 col-form-label">Port
						Number</label>
					<div class="col-sm-9">
						<input type="text" id="portNumber" class="form-control"
							placeholder="Enter port number" name="MAIL_PORT"
							th:value="${MAIL_PORT}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="userName" class="col-sm-3 col-form-label">User
						Name</label>
					<div class="col-sm-9">
						<input type="text" id="userName" class="form-control"
							placeholder="Enter user name" name="MAIL_USERNAME"
							th:value="${MAIL_USERNAME}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="password" class="col-sm-3 col-form-label">Password</label>
					<div class="col-sm-9">
						<input type="text" id="password" class="form-control"
							placeholder="Enter password" name="MAIL_PASSWORD"
							th:value="${MAIL_PASSWORD}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="authRequired" class="col-sm-3 col-form-label">Server
						Authentication Required</label>
					<div class="col-sm-9">
						<select class="form-select" id="authRequired" name="SMTP_AUTH">
							<option value="true" th:selected="${SMTP_AUTH} == 'true'">True</option>
							<option value="false" th:selected="${SMTP_AUTH} == 'false'">False</option>
						</select>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="tlsRequired" class="col-sm-3 col-form-label">Server
						Requires Secured Connection (TLS)</label>
					<div class="col-sm-9">
						<select class="form-select" id="tlsRequired" name="SMTP_SECURED">
							<option value="true" th:selected="${SMTP_SECURED} == 'true'">True</option>
							<option value="false" th:selected="${SMTP_SECURED} == 'false'">False</option>
						</select>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="fromEmail" class="col-sm-3 col-form-label">From
						E-mail Address</label>
					<div class="col-sm-9">
						<input type="email" id="fromEmail" class="form-control"
							placeholder="Enter from e-mail address" name="MAIL_FROM"
							th:value="${MAIL_FROM}" required>
					</div>
				</div>

				<div class="form-group mb-3 row">
					<label for="senderName" class="col-sm-3 col-form-label">Sender
						Name</label>
					<div class="col-sm-9">
						<input type="text" id="senderName" class="form-control"
							placeholder="Enter sender name" name="MAIL_SENDER_NAME"
							th:value="${MAIL_SENDER_NAME}" required>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="d-flex justify-content-end">
					<a th:href="@{/}" class="btn btn-secondary" style="margin: 0 8px;">Back</a>
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</div>
		</form>
	</th:block>
	<!-- Mail server -->

	<!-- Mail Template -->
	<th:block th:fragment="mailTemplate">
		<div class="mt-4 mx-auto col-md-12">
			<h3>Mail Templates</h3>

			<!-- nav-tabs -->
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-link active" id="nav-customer-verification-tab"
						data-bs-toggle="tab" href="#nav-customer-verification" role="tab"
						aria-controls="nav-customer-verification" aria-selected="true">Customer
						Verification</a> <a class="nav-link" id="nav-order-confirmation-tab"
						data-bs-toggle="tab" href="#nav-order-confirmation" role="tab"
						aria-controls="nav-order-confirmation" aria-selected="false">Order
						Confirmation</a>
				</div>
			</nav>
			<!-- nav-tabs -->

			<!-- tab-content -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active"
					id="nav-customer-verification" role="tabpanel"
					aria-labelledby="nav-customer-verification-tab">

					<form th:action="@{/settings/save_mailTemplate}" method="post">

						<div class="form-group mb-3 row">
							<label for="emailSubject" class="col-sm-3 col-form-label">E-mail
								Subject</label>
							<div class="col-sm-9">
								<input type="text" id="emailSubject" class="form-control"
									placeholder="Please verify your registration to continue shopping"
									name="CUSTOMER_VERIFY_SUBJECT"
									th:value="${CUSTOMER_VERIFY_SUBJECT}" required>
							</div>
						</div>

						<div class="form-group mb-3 row">
							<div class="col-md-12 mt-3">
								<label for="emailContent" class="form-label">Email
									Content</label>
								<textarea class="form-control" id="emailContent" rows="8"
									name="CUSTOMER_VERIFY_CONTENT"
									th:text=${CUSTOMER_VERIFY_CONTENT} required></textarea>
							</div>
						</div>

						<div class="form-group row">
							<div class="d-flex justify-content-end">
								<a th:href="@{/}" class="btn btn-secondary"
									style="margin: 0 8px;">Back</a>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>

					</form>

				</div>
				<div class="tab-pane fade" id="nav-order-confirmation"
					role="tabpanel" aria-labelledby="nav-order-confirmation-tab">
					<form th:action="@{/settings/save_mailTemplate}" method="post">

						<div class="form-group mb-3 row">
							<label for="emailSubject" class="col-sm-3 col-form-label">E-mail
								Subject</label>
							<div class="col-sm-9">
								<input type="text" id="emailSubject" class="form-control"
									placeholder="Please check your order information."
									name="ORDER_CONFIRMATION_SUBJECT"
									th:value="${ORDER_CONFIRMATION_SUBJECT}" required>
							</div>
						</div>

						<div class="form-group mb-3 row">
							<div class="col-md-12 mt-3">
								<label for="emailContent" class="form-label">Email
									Content</label>
								<textarea class="form-control"
									id="emailContent_orderConfirmation" rows="8"
									name="ORDER_CONFIRMATION_CONTENT"
									th:text=${ORDER_CONFIRMATION_CONTENT} required></textarea>
							</div>
						</div>

						<div class="form-group row">
							<div class="d-flex justify-content-end">
								<a th:href="@{/}" class="btn btn-secondary"
									style="margin: 0 8px;">Back</a>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>

					</form>
				</div>
			</div>
			<!-- tab-content -->
		</div>
	</th:block>
	<!-- Mail Template -->

	<!-- Payment -->
	<th:block th:fragment="payment">
		<form th:action="@{/settings/save_payment}" method="post"
			enctype="multipart/form-data">
			<div class="mt-4 mx-auto col-md-12">
				<h3>Payment</h3>

				<!-- PayPal API Base URL -->
				<div class="form-group mb-3 row">
					<label for="paypalApiBaseUrl" class="col-sm-3 col-form-label">PayPal
						API Base URL</label>
					<div class="col-sm-9">
						<input type="text" id="paypalApiBaseUrl" class="form-control"
							placeholder="Enter PayPal API Base URL"
							name="PAYPAL_API_BASE_URL" th:value="${PAYPAL_API_BASE_URL}"
							required>
					</div>
				</div>

				<!-- PayPal Client ID -->
				<div class="form-group mb-3 row">
					<label for="paypalClientId" class="col-sm-3 col-form-label">PayPal
						Client ID</label>
					<div class="col-sm-9">
						<input type="text" id="paypalClientId" class="form-control"
							placeholder="Enter PayPal Client ID" name="PAYPAL_API_CLIENT_ID"
							th:value="${PAYPAL_API_CLIENT_ID}" required>
					</div>
				</div>

				<!-- PayPal Client Secret -->
				<div class="form-group mb-3 row">
					<label for="paypalClientSecret" class="col-sm-3 col-form-label">PayPal
						Client Secret</label>
					<div class="col-sm-9">
						<input type="text" id="paypalClientSecret" class="form-control"
							placeholder="Enter PayPal Client Secret"
							name="PAYPAL_API_CLIENT_SECRET"
							th:value="${PAYPAL_API_CLIENT_SECRET}" required>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="d-flex justify-content-end">
					<a th:href="@{/}" class="btn btn-secondary" style="margin: 0 8px;">Back</a>
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</div>
		</form>
	</th:block>
	<!-- Payment -->

</body>
</html>