<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>400</title>

<link rel="stylesheet" th:href="@{/css/error.css}">

</head>

<body>

	<div class="site">
		<div class="sketch">
			<div class="bee-sketch red"></div>
			<div class="bee-sketch blue"></div>
		</div>

		<h1>
			400: <small>Bad Request.</small>
		</h1>
	</div>

</body>
</html>
