<!DOCTYPE html>
<!-- khai báo namespace th để có thể sử dụng các thuộc tính của thymeleaf -->
<html xmlns:th="http://thymeleaf.org">

<!-- Head -->
<head th:replace="fragments :: page_head('Manage Users', 'none')"></head>
<!-- Head -->

<body>
	<!-- Header -->
	<header th:replace="fragments :: header"></header>
	<!-- Header -->

	<div class="container mt-5">
		<h2>Manage Users</h2>
	</div>

	<div class="container mt-3">
		<div class="row g-2">
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-primary w-100" th:href="@{/users/new}"> <i
					class="fas fa-user-plus"></i> Create New User
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-warning w-100" th:href="@{/users/export/csv}">
					<i class="fas fa-file-csv"></i> Export To CSV
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-success w-100" th:href="@{/users/export/excel}">
					<i class="fas fa-file-excel"></i> Export To Excel
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-danger w-100" th:href="@{/users/export/pdf}">
					<i class="fas fa-file-pdf"></i> Export To PDF
				</a>
			</div>
		</div>
	</div>

	<div class="container mt-3">
		<form th:action="@{/users/page/1}" method="get">
			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<input type="hidden" id="inputSortField" class="form-control"
						th:value="${sortField}" name="sortField"> <input
						type="hidden" id="inputSortType" class="form-control"
						th:value="${sortType}" name="sortType"> <input
						type="search" id="inputKeyword" class="form-control"
						placeholder="Enter keyword" aria-describedby="passwordHelpInline"
						name="keyword" th:value="${keyword}">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn">
						<i class="fas fa-search"></i>
					</button>
					<a th:href="@{/users}" class="btn"> <i class="fas fa-redo"></i>
					</a>
				</div>
			</div>
		</form>

		<div th:if="${message != null}" class="toast show mt-3"
			style="width: 100%;">
			<div class="toast-header">
				<strong class="me-auto">Message</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
			</div>
			<div class="toast-body" style="color: green;">
				<p th:text="${message}"></p>
			</div>
		</div>

		<div class="table-responsive mt-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:replace="fragments :: column_link('/users', 'id', 'User ID')" />
						<th scope="col">Photos</th>
						<th th:replace="fragments :: column_link('/users', 'email', 'Email')" />
						<th
							th:replace="fragments :: column_link('/users', 'firstName', 'First Name')" />
						<th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name')" />
						<th scope="col">Roles</th>
						<th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled')" />
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td th:text="${user.id}"></td>
						<td><i th:if="${#strings.isEmpty(user.photos)}"
							class="fas fa-user-circle fa-3x text-secondary"></i> <img
							th:if="${not #strings.isEmpty(user.photos)}"
							th:src="@{${user.getPhotosImagePath}}" width="48" height="48"
							class="rounded-circle object-fit-cover"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td><span th:each="role : ${user.roles}"> <span
								th:text="${role.name}"></span><br>
						</span></td>
						<td><i th:if="${user.enabled}"
							class="fas fa-check text-success"></i> <i
							th:if="${!user.enabled}" class="fas fa-times text-danger"></i></td>
						<td><a title="Edit this user"
							th:href="@{/users/update/} + ${user.id}"> <i
								class="fas fa-edit text-success"></i>
						</a> | <a title="Delete this user"
							th:href="@{'/users/delete/' + ${user.id}}" th:userId="${user.id}"
							class="link-delete"> <i class="fas fa-trash-alt text-danger"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- Pagination -->
		<nav aria-label="Pagination"
			class="d-flex flex-column align-items-center mt-5"
			th:if="${totalElements > 0}">
			<p class="mb-2">Show users from [[${startCount}]] to
				[[${endCount}]] of [[${totalElements}]]</p>
			<ul class="pagination justify-content-center">
				<!-- Nút "First" -->
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments :: page_link('/users', 1, 'First')"></a></li>

				<!-- Nút "Previous" -->
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments :: page_link('/users', ${currentPage - 1}, 'Previous')"></a>
				</li>

				<!-- Các số trang -->
				<li class="page-item"
					th:each="page : ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${page == currentPage} ? 'active'"><a
					th:replace="fragments :: page_link('/users', ${page}, ${page})"></a></li>

				<!-- Nút "Next" -->
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments :: page_link('/users', ${currentPage + 1}, 'Next')"></a>
				</li>

				<!-- Nút "Last" -->
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments :: page_link('/users', ${totalPages}, 'Last')"></a></li>
			</ul>
		</nav>

		<div class="text-center mt-5" th:if="${totalElements <= 0}">No
			users found.</div>
		<!-- Pagination -->
	</div>

	<!-- Modal delete-->
	<div th:replace="modal_fragments :: modal_delete"></div>
	<!-- Modal delete-->

	<!-- Footer -->
	<footer th:replace="fragments :: footer"></footer>
	<!-- Footer -->

	<!-- jQuery Script -->
	<script type="text/javascript">
		$(".link-delete").on(
				"click",
				function(event) {
					event.preventDefault();

					let link = $(this);
					let userId = link.attr("userId") || "unknown";
					let href = link.attr("href") || "#";

					$("#modalMessage").text(
							"Are you sure you want to delete user ID " + userId
									+ "?");
					$("#deleteButton").attr("href", href);

					$("#confirmModal").modal("show");
				});
	</script>
</body>

</html>