<!DOCTYPE html>
<!-- khai báo namespace th để có thể sử dụng các thuộc tính của thymeleaf -->
<html xmlns:th="http://thymeleaf.org">

<!-- Head -->
<head th:replace="fragments :: page_head('Manage Category')"></head>
<!-- Head -->

<body>
	<!-- Header -->
	<header th:replace="fragments :: header"></header>
	<!-- Header -->

	<div class="container mt-5">
		<h2>Manage Category</h2>
	</div>

	<!-- create/csv/excel/pdf -->
	<div class="container mt-3">
		<div class="row g-2">
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-primary w-100" th:href="@{/categories/create}"><i
					class="fas fa-plus-square"></i> Create New Category </a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-warning w-100" th:href="@{/users/export/csv}">
					<i class="fas fa-file-csv"></i> Export To CSV
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-success w-100" th:href="@{/users/export/excel}">
					<i class="fas fa-file-excel"></i> Export To Excel
				</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<a class="btn btn-danger w-100" th:href="@{/users/export/pdf}">
					<i class="fas fa-file-pdf"></i> Export To PDF
				</a>
			</div>
		</div>
	</div>
	<!-- create/csv/excel/pdf -->

	<div class="container mt-3">
		<!-- search/reload -->
		<form th:action="@{/users/page/1}" method="get">
			<div class="row g-3 align-items-center">
				<div class="col-auto">
					<input type="hidden" id="inputSortField" class="form-control"
						th:value="${sortField}" name="sortField"> <input
						type="hidden" id="inputSortType" class="form-control"
						th:value="${sortType}" name="sortType"> <input
						type="search" id="inputKeyword" class="form-control"
						placeholder="Enter keyword" aria-describedby="passwordHelpInline"
						name="keyword" th:value="${keyword}">
				</div>
				<div class="col-auto">
					<button type="submit" class="btn">
						<i class="fas fa-search"></i>
					</button>
					<a th:href="@{/categories}" class="btn"> <i class="fas fa-redo"></i>
					</a>
				</div>
			</div>
		</form>
		<!-- search/reload -->

		<!-- message -->
		<div th:if="${message != null}" class="toast show mt-3"
			style="width: 100%;">
			<div class="toast-header">
				<strong class="me-auto">Message</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast"></button>
			</div>
			<div class="toast-body" style="color: green;">
				<p th:text="${message}"></p>
			</div>
		</div>
		<!-- message -->

		<!-- list categories -->
		<div class="table-responsive mt-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Category Image</th>
						<th scope="col"><a class="a-title"
							th:href="@{'/categories?sortType=' + ${reverseSortType}}">Category
								Name</a> <span
							th:class="${reverseSortType} == 'asc' ? 'fas fa-angle-up' : 'fas fa-angle-down'"></span>
						</th>
						<th scope="col">Alias</th>
						<th scope="col">Enable</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td th:text="${category.id}"></td>

						<td><i th:if="${#strings.isEmpty(category.image)}"
							class="fas fa-images fa-3x text-secondary"></i> <img
							th:if="${not #strings.isEmpty(category.image)}"
							th:src="@{${category.getImagePath}}" width="48" height="48"
							class="rounded-circle object-fit-cover"></td>

						<td th:text="${category.name}"></td>

						<td th:text="${category.alias}"></td>

						<td><i th:if="${category.enabled}"
							class="fas fa-check text-success"></i> <i
							th:if="${!category.enabled}" class="fas fa-times text-danger"></i></td>

						<td><a title="Edit this category"
							th:href="@{'/categories/update/' + ${category.id}}"> <i
								class="fas fa-edit text-success"></i>
						</a> | <a th:if="${!category.isHasChildren}"
							title="Delete this category"
							th:href="@{'/categories/delete/' + ${category.id}}"
							th:categoryId="${category.id}" class="link-delete"> <i
								class="fas fa-trash-alt text-danger"></i>
						</a> <i th:if="${category.isHasChildren}" class="fas fa-ban"
							style="color: #ff0000;"
							title="Cannot delete category with subcategories"></i></td>

					</tr>
				</tbody>
			</table>
		</div>
		<!-- list categories -->

		<!-- Pagination -->
		<nav aria-label="Pagination"
			class="d-flex flex-column align-items-center mt-5"
			th:if="${totalElements > 0}">
			<p class="mb-2">Show users from [[${startCount}]] to
				[[${endCount}]] of [[${totalElements}]]</p>
			<ul class="pagination justify-content-center">
				<!-- Nút "First" -->
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments :: page_link(1, 'First')"></a></li>

				<!-- Nút "Previous" -->
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
				</li>

				<!-- Các số trang -->
				<li class="page-item"
					th:each="page : ${#numbers.sequence(startPage, endPage)}"
					th:classappend="${page == currentPage} ? 'active'"><a
					th:replace="fragments :: page_link(${page}, ${page})"></a></li>

				<!-- Nút "Next" -->
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
				</li>

				<!-- Nút "Last" -->
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					th:replace="fragments :: page_link(${totalPages}, 'Last')"></a></li>
			</ul>
		</nav>
		<!-- Pagination -->

		<div class="text-center mt-5" th:if="${totalElements <= 0}">No
			categories found.</div>

	</div>

	<!-- Modal delete-->
	<div th:replace="modal_fragments :: modal_delete"></div>
	<!-- Modal delete-->

	<!-- Footer -->
	<footer th:replace="fragments :: footer"></footer>
	<!-- Footer -->

	<!-- jQuery Script -->
	<script type="text/javascript">
		$(".link-delete").on(
				"click",
				function(event) {
					event.preventDefault();

					let link = $(this);
					let categoryId = link.attr("categoryId") || "unknown";
					let href = link.attr("href") || "#";

					$("#modalMessage").text(
							"Are you sure you want to delete category ID "
									+ categoryId + "?");
					$("#deleteButton").attr("href", href);

					$("#confirmModal").modal("show");
				});
	</script>
</body>

</html>