<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head th:replace="fragments :: page_head('Home', 'none')"></head>
<!-- Head -->

<body>

	<!-- Header -->
	<header th:replace="fragments :: header"></header>
	<!-- Header -->

	<div class="container mt-5">
		<h3>GearVN Control Panel</h3>
		Welcome
		<a th:href="@{/account}" sec:authentication="principal.fullName"></a>
		<span sec:authentication="principal.authorities"></span>
	</div>

	<!-- Footer -->
	<footer th:replace="fragments :: footer"></footer>
	<!-- Footer -->

</body>
</html>
