<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

	<!-- format-price -->
	<th:block th:fragment="formatPrice(price)">
		<span> <strong> <span
				th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}">[[${CURRENCY_SYMBOL}]]</span>
				<!-- Dùng hàm formatDecimal format giá tiền, 
					tham số thứ 1 là giá tiền, 
					thứ 2 là số chữ số tối thiểu phần nguyên, 
					thứ 3 là kỹ tự ngăn cách phần nghìn, 
					thứ 4 là số chữ số phần thập phân, 
					thứ 5 là ký tự ngăn cách phần nguyên và thực -->
				[[${#numbers.formatDecimal(price, 1, THOUSANDS_POINT_TYPE,
				DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] <span
				th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}">[[${CURRENCY_SYMBOL}]]</span>
		</strong>
		</span>
	</th:block>
	<!-- format-price -->

	<!-- overView -->
	<th:block th:fragment="overview_tabpane(order)">

		<div class="mx-auto col-md-12">

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Customer Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.customer.getFullName}" />
				</div>
			</div>

			<div class="form-group row mb-0">
				<label class="col-sm-3 col-form-label">Product Cost</label>
				<div class="col-sm-9">
					<p class="form-control mb-0">
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${order.productCost})"></th:block>
					</p>
				</div>
			</div>

			<div class="form-group row mb-0">
				<label class="col-sm-3 col-form-label">Subtotal</label>
				<div class="col-sm-9">
					<p class="form-control mb-0">
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${order.subtotal})"></th:block>
					</p>
				</div>
			</div>

			<div class="form-group row mb-0">
				<label class="col-sm-3 col-form-label">Shipping Cost</label>
				<div class="col-sm-9">
					<p class="form-control mb-0">
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${order.shippingCost})"></th:block>
					</p>
				</div>
			</div>

			<div class="form-group row mb-0">
				<label class="col-sm-3 col-form-label">Tax</label>
				<div class="col-sm-9">
					<p class="form-control mb-0">
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${order.tax})"></th:block>
					</p>
				</div>
			</div>

			<div class="form-group row mb-0">
				<label class="col-sm-3 col-form-label">Total</label>
				<div class="col-sm-9">
					<p class="form-control mb-0 font-weight-bold text-danger">
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${order.total})"></th:block>
					</p>
					<p class="mb-0">
						<i><span class="text-danger">(*)</span> Total = SubTotal + Tax
							+ Shipping Cost</i>
					</p>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Payment Method</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.paymentMethod}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Status</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.status}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Order Time</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${#dates.format(order.orderTime, 'yyyy-MM-dd HH:mm:ss')}" />
				</div>
			</div>

		</div>

	</th:block>
	<!-- overView -->

	<!-- product tabpane -->
	<th:block th:fragment="product_tabpane(order)">
		<th:block th:each="detail, status : ${order.orderDetails}">
			<div class="row border rounded p-2 mb-3 mx-3"
				th:with="product = ${detail.product}">

				<!-- STT -->
				<div
					class="col-sm-1 d-flex align-items-center justify-content-center">
					<div class="div-count">[[${status.count}]]</div>
				</div>

				<!-- Hình ảnh sản phẩm -->
				<div class="col-sm-3">
					<img th:src="@{${detail.product.getMainImagePath}}"
						class="img-fluid" />
				</div>

				<!-- Thông tin chi tiết -->
				<div class="col-sm-8">
					<div class="mb-2">
						<b>[[${product.name}]]</b>
					</div>
					<div class="mb-1">
						Product Cost:
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${detail.productCost})"></th:block>
					</div>

					<div class="mb-1">
						Subtotal: [[${detail.quantity}]] ×
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${detail.unitPrice})"></th:block>
						=
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${detail.subtotal})"></th:block>
					</div>

					<div class="mb-1">
						Shipping Cost:
						<th:block
							th:replace="orders/order_fragments :: formatPrice(${detail.shippingCost})"></th:block>
					</div>
				</div>
			</div>
		</th:block>
	</th:block>
	<!-- product tabpane -->

	<!-- shipping_tabpane -->
	<th:block th:fragment="shipping_tabpane(order)">
		<div class="mx-auto col-md-12">

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">First Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.firstName}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Last Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.lastName}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Phone Number</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.phoneNumber}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Address Line 1</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.addressLine1}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Address Line 2</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.addressLine2}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">City</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.city}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">State</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.state}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Country</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.country}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Postal Code</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${order.postalCode}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Delivery Days</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" readonly
						th:value="${order.deliverDays}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Delivery Date</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" readonly
						th:value="${#dates.format(order.deliverDate, 'yyyy-MM-dd')}" />
				</div>
			</div>

		</div>
	</th:block>
	<!-- /shipping_tabpane -->

</body>
</html>