<!DOCTYPE html>
<!-- khai báo namespace th để có thể sử dụng các thuộc tính của thymeleaf -->
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head>
<head
	th:replace="fragments :: page_head('Create/Update New Product', 'tag')" />
<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
<script th:src="@{/richtext/jquery.richtext.min.js}"></script>

</head>
<!-- Head -->

<body>
	<!-- Header -->
	<header th:replace="fragments :: header"></header>
	<!-- Header -->

	<div class="container">
		<div class="row flex-nowrap">
			<!-- Tabs dọc -->
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
				style="box-shadow: 1px 0px 5px -2px #aaaaaa;">
				<th:block th:replace="products/product_fragments :: sidebar"></th:block>
			</div>

			<div class="col mt-4">
				<form th:action="@{/products/save}" method="post"
					onsubmit="return check(this)" enctype="multipart/form-data"
					th:object="${product}">
					<!-- Nội dung tab -->
					<div class="col-md-9 mx-auto">
						<div class="tab-content">

							<!-- dùng để load đúng category khi update product -->
							<th:block th:if="*{id != null}">
								<input type="hidden" id="inputId" th:field="*{id}">
							</th:block>
							<th:block th:if="*{category != null and category.id != null}">
								<input type="hidden" id="inputCategoryId"
									th:value="*{category.id}">
							</th:block>

							<!-- với role Salesperson, tab này chỉ cho sửa Cost/ListPrice/Discount -->
							<div class="tab-pane fade active show" id="overview"
								role="tabpanel">
								<th:block th:replace="products/product_fragments :: overview"></th:block>
							</div>

							<div class="tab-pane fade" id="description" role="tabpanel">
								<!-- role admin/editor -->
								<th:block th:replace="products/product_fragments :: description"
									sec:authorize="hasAnyAuthority('Admin', 'Editor')"></th:block>
								<!-- role salesperson -->
								<th:block
									th:replace="products/readonly_product_fragments :: description"
									sec:authorize="hasAnyAuthority('Salesperson')"></th:block>
							</div>

							<div class="tab-pane fade" id="images" role="tabpanel">
								<!-- role admin/editor -->
								<th:block th:replace="products/product_fragments :: images"
									sec:authorize="hasAnyAuthority('Admin', 'Editor')"></th:block>
								<!-- role salesperson -->
								<th:block
									th:replace="products/readonly_product_fragments :: images"
									sec:authorize="hasAnyAuthority('Salesperson')"></th:block>
							</div>

							<div class="tab-pane fade" id="details" role="tabpanel">
								<!-- role admin/editor -->
								<th:block th:replace="products/product_fragments :: details"
									sec:authorize="hasAnyAuthority('Admin', 'Editor')"></th:block>
								<!-- role salesperson -->
								<th:block
									th:replace="products/readonly_product_fragments :: details"
									sec:authorize="hasAnyAuthority('Salesperson')"></th:block>
							</div>

							<div class="tab-pane fade" id="shipping" role="tabpanel">
								<!-- role admin/editor -->
								<th:block th:replace="products/product_fragments :: shipping"
									sec:authorize="hasAnyAuthority('Admin', 'Editor')"></th:block>
								<!-- role salesperson -->
								<th:block
									th:replace="products/readonly_product_fragments :: shipping"
									sec:authorize="hasAnyAuthority('Salesperson')"></th:block>
							</div>

						</div>
						<div class="form-group row">
							<div class="form-group d-flex justify-content-end">
								<a th:href="@{/products}" class="btn btn-secondary"
									style="margin: 0 8px;">Back</a>
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div th:replace="modal_fragments :: modal_dialog"></div>
	<!-- Modal -->

	<!-- Footer -->
	<footer th:replace="fragments :: footer"></footer>
	<!-- Footer -->

	<script type="text/javascript">
		// check duplicate productName/productAlias
		let checkDuplicateUrl = "[[ @{/products/check_duplicate} ]]";

		// get url brand
		let brand = "[[@{/brands/}]]";

		// upload mainImage
		let input = "#inputPhotos";
		let inputPreview = "#inputPhotosPreview";

		// default image, dùng cho extraImage
		let defaultImage = "[[@{/images/LogoGearvn.png}]]";

		// load categories
		let dropdownBrands = $("#inputBrand");
		let dropdownCategories = $("#inputCategory");

		// mặc định khi update thì không ép update
		let mainImageValue = "[[${product.mainImage}]]";

		// chặn submit form và xử lý
		// mặc định của jquery richTextEditor là <div><br></div> và khi nhập r xóa hết thì còn <br> -> xử lý validation
		function check(form) {
			setDefaultValueTextArea();

			checkDuplicate(form);

			// hàm post bên checkDuplicate chạy kiểu async nên phải return false để chặn hàm này lại cho hàm checkDuplicate xử lý
			return false;
		}
	</script>

	<script th:src="@{/js/common_form.js}"></script>

	<script th:src="@{/js/product/product_overview.js}"></script>
	<script th:src="@{/js/product/product_description.js}"></script>
	<script th:src="@{/js/product/product_extraImage.js}"></script>
	<script th:src="@{/js/product/product_detail.js}"></script>

</body>

</html>