<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>
<body>
	<!-- SideBar -->
	<th:block th:fragment="sidebar">
		<div
			class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
			<ul
				class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-3 w-100"
				id="menu">
				<li class="nav-item mb-3"><span
					class="d-none d-sm-inline fs-5 fw-bold">Menu</span></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100 active	"
					data-bs-toggle="tab" href="#overview" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-home"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Overview</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#description" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-file-alt"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Description</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#images" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="far fa-images"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Images</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#details" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-info-circle"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Details</span>
				</a></li>

				<li class="nav-item mb-3 w-100"><a
					class="nav-link d-flex align-items-center gap-3 w-100 px-0 w-100"
					data-bs-toggle="tab" href="#shipping" role="tab"> <span
						class="icon-container d-flex justify-content-center align-items-center"
						style="width: 35px;"> <i class="fas fa-shipping-fast"></i>
					</span> <span class="d-none d-sm-inline flex-grow-1 text-start">Shipping</span>
				</a></li>
			</ul>
		</div>
	</th:block>
	<!-- SideBar -->

	<!-- Overview-->
	<th:block th:fragment="overview">
		<div class="mt-4 mx-auto col-md-12">
			<h3>Overview</h3>

			<div class="form-group mb-3 row">
				<label for="inputName" class="col-sm-3 col-form-label">Product
					Name</label>
				<div class="col-sm-9">
					<input type="text" id="inputName" class="form-control"
						placeholder="Enter product name" th:field="*{name}"
						th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}">
					<p id="nameError" th:if="${#fields.hasErrors('name')}"
						th:errorclass="error" th:errors="*{name}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputAlias" class="col-sm-3 col-form-label">Alias</label>
				<div class="col-sm-9">
					<input type="text" id="inputAlias" class="form-control"
						placeholder="Default is product name" th:field="*{alias}"
						th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}">
					<p id="aliasError" th:if="${#fields.hasErrors('alias')}"
						th:errorclass="error" th:errors="*{alias}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group row">
				<label for="inputBrand" class="col-sm-3 col-form-label">Brand</label>
				<div class="col-sm-9">

					<!-- chỉ admin/editor mới được select, nếu chỉ disbled thì dữ liệu trong field này gửi đi là null -->
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<select class="form-select" id="inputBrand" th:field="*{brand}">
							<th:block th:each="brand : ${listBrands}">
								<option th:value="${brand.id}">[[${brand.name}]]</option>
							</th:block>
						</select>
						<p id="brandError" th:if="${#fields.hasErrors('brand')}"
							th:errorclass="error" th:errors="*{brand}" class="text-danger"></p>
					</th:block>

					<!-- đảm bảo dữ liệu có thể gửi -->
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<input type="text" id="inputBrand" class="form-control"
							th:value="${product.brand.name}" readonly>
					</th:block>
				</div>
			</div>

			<div class="form-group row">
				<label for="inputCategory" class="col-sm-3 col-form-label">Category</label>
				<div class="col-sm-9">

					<!-- chỉ admin/editor mới được select, nếu chỉ disbled thì dữ liệu trong field này gửi đi là null -->
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<!-- update product -->
						<th:block th:if="${product.category != null}">
							<select th:field="*{category}" class="form-control"
								id="inputCategory">
								<th:block th:each="cat : ${product.brand.categories}">
									<option th:value="${cat.id}">[[${cat.name}]]</option>
								</th:block>
							</select>
						</th:block>
					</th:block>

					<!-- đảm bảo dữ liệu có thể gửi -->
					<th:block sec:authorize="hasAnyAuthority('Salesperson')">
						<input type="text" id="inputCategory" class="form-control"
							th:value="${product.category.name}" readonly>
					</th:block>

					<!-- create new product -->
					<th:block th:if="${product.category == null}">
						<select th:field="*{category}" class="form-control"
							id="inputCategory">
						</select>
					</th:block>

					<p id="categoryError" th:if="${#fields.hasErrors('category')}"
						th:errorclass="error" th:errors="*{category}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label class="col-sm-3">Enabled</label>
				<div class="col-sm-9">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="*{enabled}"
							th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}">
					</div>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label class="col-sm-3">In Stock</label>
				<div class="col-sm-9">
					<div class="form-check">
						<input class="form-check-input" type="checkbox"
							th:field="*{inStock}"
							th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}">
					</div>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputCost" class="col-sm-3 col-form-label">Cost</label>
				<div class="col-sm-9">
					<input type="number" id="inputCost" class="form-control"
						placeholder="0.0" th:field="*{cost}">
					<p id="costError" th:if="${#fields.hasErrors('cost')}"
						th:errorclass="error" th:errors="*{cost}" class="text-danger"></p>

					<!-- xuất lỗi khi Salesperson update -->
					<p id="costError" th:if="${costError != null}"
						class="text-danger error" th:text="${costError}"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputPrice" class="col-sm-3 col-form-label">List
					Price</label>
				<div class="col-sm-9">
					<input type="number" id="inputPrice" class="form-control"
						placeholder="0.0" th:field="*{price}">
					<p id="priceError" th:if="${#fields.hasErrors('price')}"
						th:errorclass="error" th:errors="*{price}" class="text-danger"></p>

					<!-- xuất lỗi khi Salesperson update -->
					<p id="priceError" th:if="${priceError != null}"
						class="text-danger error" th:text="${priceError}"></p>

				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputDiscount" class="col-sm-3 col-form-label">Discount
					Percent</label>
				<div class="col-sm-9">
					<input type="number" id="inputDiscount" class="form-control"
						placeholder="0.0" th:field="*{discountPercent}">

					<!-- xuất lỗi khi Salesperson update -->
					<p id="discountError" th:if="${discountError != null}"
						class="text-danger error" th:text="${discountError}"></p>
				</div>
			</div>
		</div>
	</th:block>
	<!-- Overview-->

	<!-- Description -->
	<th:block th:fragment="description">

		<div class="mt-4 mx-auto col-md-12">
			<h3>Description</h3>

			<div class="form-group mb-3 row">
				<div class="col-md-12 mt-3">
					<label for="shortDescription" class="form-label"> Short
						Description </label>
					<textarea class="form-control" id="shortDescription" rows="5"
						th:field="*{shortDescription}"></textarea>
					<p id="shortDescError"
						th:if="${#fields.hasErrors('shortDescription')}"
						th:errorclass="error" th:errors="*{shortDescription}"
						class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<div class="col-md-12 mt-3">
					<label for="fullDescription" class="form-label"> Full
						Description </label>
					<textarea class="form-control" id="fullDescription" rows="10"
						th:field="*{fullDescription}"></textarea>
					<p id="fullDescError"
						th:if="${#fields.hasErrors('fullDescription')}"
						th:errorclass="error" th:errors="*{fullDescription}"
						class="text-danger"></p>
				</div>
			</div>

		</div>
	</th:block>
	<!-- Description -->

	<!-- Shipping -->
	<th:block th:fragment="shipping">
		<div class="mt-4 mx-auto col-md-12">
			<h3>Shipping</h3>

			<div class="form-group mb-3 row">
				<div class="col-sm-12">
					The following information is important to calculate shipping cost
					for the product.</br> The dimensions (L X W X H) is for the box that is
					used to package the product - not the product's dimensions.
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputLength" class="col-sm-3 col-form-label">Length
					(inch):</label>
				<div class="col-sm-9">
					<input type="number" id="inputLength" class="form-control"
						placeholder="0.0" th:field="*{length}">
					<p id="lengthError" th:if="${#fields.hasErrors('length')}"
						th:errorclass="error" th:errors="*{length}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputWidth" class="col-sm-3 col-form-label">Width
					(inch):</label>
				<div class="col-sm-9">
					<input type="number" id="inputWidth" class="form-control"
						placeholder="0.0" th:field="*{width}">
					<p id="widthError" th:if="${#fields.hasErrors('width')}"
						th:errorclass="error" th:errors="*{width}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputHeight" class="col-sm-3 col-form-label">Height
					(inch):</label>
				<div class="col-sm-9">
					<input type="number" id="inputHeight" class="form-control"
						placeholder="0.0" th:field="*{height}">
					<p id="heightError" th:if="${#fields.hasErrors('height')}"
						th:errorclass="error" th:errors="*{height}" class="text-danger"></p>
				</div>
			</div>

			<div class="form-group mb-3 row">
				<label for="inputWeight" class="col-sm-3 col-form-label">Weight
					(pounds):</label>
				<div class="col-sm-9">
					<input type="number" id="inputWeight" class="form-control"
						placeholder="0.0" th:field="*{weight}">
					<p id="weightError" th:if="${#fields.hasErrors('weight')}"
						th:errorclass="error" th:errors="*{weight}" class="text-danger"></p>
				</div>
			</div>
		</div>
	</th:block>
	<!-- Shipping -->

	<!-- Images -->
	<th:block th:fragment="images">
		<div class="mt-4 mx-auto col-md-12 parent-images">
			<h3>Images</h3>

			<!-- Main Images -->
			<div class="form-group mb-3 row">
				<label for="inputPhotos" class="col-sm-3 col-form-label">Main
					Image</label>
				<div class="col-sm-9">
					<div>
						<!-- Giá trị tạm để đảm bảo image ko null -->
						<input type="hidden" name="mainImage"
							th:value="${product.mainImage} ?: 'LogoGearvn.png'"> <input
							type="file" class="form-control mb-2" id="inputPhotos"
							accept=".png, .jpg, .jpeg" name="multipartFile">
					</div>
					<div>
						<img th:src="@{${product.getMainImagePath}}" width="50%"
							height="50%" class="d-inline-block align-top" alt="image"
							id="inputPhotosPreview" style="border-radius: 10px;" name="image">
					</div>
				</div>
			</div>
			<!-- Main Images -->

			<!-- Load Product Extra Images -->
			<th:block th:each="productExtraImage : ${product.images}">
				<div class="form-group mb-3 row">
					<label for="inputPhotos" class="col-sm-3 col-form-label">Extra
						Images</label>
					<div class="col-sm-9">
						<div class="image-upload-container">

							<!-- dùng để update extra image -->
							<input type="hidden" id="inputExtraImageId" name="extraImageIds"
								th:value="${productExtraImage.id}"> <input type="hidden"
								id="inputExtraImageName" name="extraImageNames"
								th:value="${productExtraImage.name}">

							<div class="d-flex align-items-center image-upload mb-2">
								<!-- data-has-image="true" đam rbaor khi click chọn ảnh khác thì vẫn chỉ tạo đúng 1 input, xử lý bên product_extraImage.js -->
								<input type="file" class="form-control me-2 image-input"
									accept=".png, .jpg, .jpeg" name="extraMultipartFile"
									data-has-image="true">
								<button class="btn btn-danger">
									<i class="fas fa-times fa-lg"></i>
								</button>
							</div>

							<div>
								<img th:src="@{${productExtraImage.getImagePath}}" width="50%"
									height="50%" class="d-inline-block align-top image-preview"
									style="border-radius: 10px;" alt="image">
							</div>

						</div>
					</div>
				</div>
			</th:block>
			<!-- Load Product Extra Images -->

			<!-- Extra Images -->
			<div class="form-group mb-3 row">
				<label for="inputPhotos" class="col-sm-3 col-form-label">Extra
					Images</label>
				<div class="col-sm-9">
					<div class="image-upload-container">
						<div class="d-flex align-items-center image-upload mb-2">
							<input type="file" class="form-control me-2 image-input"
								accept=".png, .jpg, .jpeg" name="extraMultipartFile">
							<button class="btn btn-danger">
								<i class="fas fa-times fa-lg"></i>
							</button>
						</div>

						<div>
							<img th:src="@{/images/LogoGearvn.png}" width="50%" height="50%"
								class="d-inline-block align-top image-preview"
								style="border-radius: 10px;" alt="image">
						</div>
					</div>
				</div>
			</div>
			<!-- Extra Images -->

		</div>
	</th:block>
	<!-- Images -->

	<!-- Detail -->
	<th:block th:fragment="details">
		<div class="mt-4 mx-auto col-md-12">
			<h3>Details</h3>

			<div class="parent-details">

				<th:block th:each="detail : ${product.productDetails}">
					<div class="form-group mb-3 row">

						<!-- dùng để update product details -->
						<input type="hidden" id="inputDetailId" name="detailIds"
							th:value="${detail.id}">

						<div class="col-sm-5">
							<input type="text" id="inputDetailName" class="form-control"
								placeholder="Enter detail name" name="detailNames"
								th:value="${detail.name}">
						</div>

						<div class="col-sm-5">
							<input type="text" id="inputDetailValue" class="form-control"
								placeholder="Enter detail value" name="detailValues"
								th:value="${detail.value}">
						</div>

						<div class="col-sm-2 text-end">
							<button class="btn btn-danger delete-detailSection">
								<i class="fas fa-times fa-lg"></i>
							</button>
						</div>
					</div>
				</th:block>

				<div class="form-group mb-3 row">

					<!-- dùng để update product details -->
					<input type="hidden" id="inputDetailId" name="detailIds"
						th:value="0">

					<div class="col-sm-5">
						<input type="text" id="inputDetailName" class="form-control"
							placeholder="Enter detail name" name="detailNames">
					</div>

					<div class="col-sm-5">
						<input type="text" id="inputDetailValue" class="form-control"
							placeholder="Enter detail value" name="detailValues">
					</div>

					<div class="col-sm-2 text-end">
						<button class="btn btn-danger delete-detailSection">
							<i class="fas fa-times fa-lg"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="form-group mb-3 row" style="margin: 0 12px;">
				<button type="button" class="btn btn-outline-secondary"
					onclick="addNextDetailSection()">
					<i class="fas fa-plus"></i>
				</button>
			</div>
		</div>
	</th:block>
	<!-- Detail -->

</body>
</html>